<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <style>
        table,
        th,
        td {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <center>
        <h2>
                <%= welcomeMsg %>
        </h2>
        <table>
            <tr>
                <td>Item name</td>
                <td>Price</td>
            </tr>

            <% for (var i=0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].item %>
                    </td>
                    <td>
                        <%= data[i].price %>
                    </td>
                    <td> <a href="/items/<%= data[i].item %>/<%= data[i].price %>">Buy</a></td>
                </tr>
                <% } %>
        </table>
    </center>
</body>

</html>